<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
     <link rel="stylesheet" href="../static/css/styles.css">
    <title>MangoTracko</title>
</head>
<body>
    <header>
        <h1 class="title">Add Mango</h1>
    </header>
    <main>
        <form class="mango-form">
          <div class="error-message">
          </div>
          <label for="title">Title</label>
          <input class="u-full-width" type="text" id="title" name="title">
          <label for="lastChapterRead">Last chapter read</label>
          <input class="u-full-width" type="text" id="lastChapterRead" name="lastChapterRead"></input>
          <label for="lastChapterReadTime">Last read date and time</labek>
          <input class="u-full-width" type='datetime-local' id="timePicker" name="timePicker" />
          <label for="startChapterReadTime">Start read date and time</labek>
          <input class="u-full-width" type='datetime-local' id="timePicker" name="timePicker" />
          <button class="button-primary">Save</button>
        </form>
        <div class="mango">
    
        </div>
        <div class="button-container">
          <!-- <button id="loadMoreButton" class="button-primary" style="visibility: hidden">Load More Mews</button> -->
          <!-- <p id="loadMore">Loading...</p> -->
        </div>
        <div class="loading">
          <img src="../static/img/loading.gif" alt="">
        </div>
      </main>
    <script>src="../static/js/client.js"</script>
</body>
</html>