@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  font-family: Quicksand, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  background: #121212;
  width: 100%;
  height: 100vh;
  max-width:100%;
  overflow: hidden;
}

.title-sub-page {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3em;
}


h2,
h3,
p,
a {
  
  text-transform: uppercase;
  -webkit-text-fill-color: #ffffff;
}

#mango-header {
  /* height: 96px; */
  background-color: black;
  width: 100%;
  z-index: 14;
  top:0;
  position:sticky;
 
}

#mango-header header .logo {
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 32px;
  font-weight: 800;
  padding: 20px;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #mango-header header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
} */
ul li {
  position: relative;
  list-style: none;
}
#mango-header header ul li a {
  display: inline-block;
  /* padding: 12px 0px;
  margin: 12px 25px; */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
}
#mango-header header.sticky {
  padding: 0.5px 10px;
  width: 100%;
  background: #757575;
}
#mango-header header.sticky .logo {
  color: white;
}
#mango-header header.sticky ul li a {
  color: white;
}
#nav {
  position: relative;
}

/* @media (min-width: 1440px) {
  #mango-header {
    display: flex;
  }
  #nav {
    display: none;
  }
}
@media (min-width: 1024px) {
  .col-md-3 {
    width: 33%;
  }
} */


/* .link .bar {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid white;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}
.link:hover .bar {
  opacity: 1;
  bottom: 15px;
} */
.logo .bar {
  width: 90%;
  display: inline-block;
  border-bottom: 5px solid white;
  position: absolute;
  bottom: 0;
  left: 14px;
  opacity: 0;
  transition: all 300ms;
}
.logo:hover .bar {
  opacity: 1;
  bottom: 15px;
}
a:link {
  text-decoration: none;
}

.landing-page {
  position: relative;
  top: 15%;
}
.landing-page .w3-xxxlarge {
  color: #000000 !important;
  -webkit-text-fill-color: #000000 !important;
}
.landing-page .w3-bar {
  font-size: 25px;
  padding: 0 1em 2em;
}
.landing-page .w3-bar .w3-right {
  font-size: 14px;
}
.landing-page .wave {
  position: relative;
  top: -11px;
}
.landing-page .activity {
  position: relative;
  top: -100px;
}
.landing-page .counter-section i {
  display: block;
  margin: 0 0 10px;
}
.landing-page .counter-section span.counter {
  font-size: 30px;
  color: #BDBDBD;
  line-height: 60px;
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}
.landing-page .counter-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.landing-page .counter-icon {
  top: 25px;
  position: relative;
}
.landing-page .counter-style2 .counter-title {
  letter-spacing: 0.55px;
  float: left;
}
.landing-page .counter-style2 span.counter {
  letter-spacing: 0.55px;
  float: left;
  margin-right: 10px;
}
.landing-page .counter-style2 i {
  float: right;
  line-height: 26px;
  margin: 0 10px 0 0;
}
.landing-page .counter-subheadline span {
  float: right;
}
.landing-page .medium-icon {
  font-size: 30px !important;
  margin-bottom: 15px !important;
}
.landing-page .container {
  margin-top: 200px;
}
/* 
.mango-details {
  position:fixed;
} */


